<!--nav bar-->

<div class="nav-bar">
      <div class="row">
          <div class="large-6 columns">
          <div class="small_logo"><%= image_tag "navicon.png" %></div>
          </div>
          <div class="large-6 columns">
            <nav class="nav-buttons">
              <a href="#" class="tiny button" id="nav-button1"> Sign Up </a>
              <a href="#" class="tiny button" id="nav-button2"> Log In </a>
            </nav>
        </div>
      </div>
  </div>

<!--hero image-->

<div class="hero">

  <div class="large-12 columns">

    <center>
      <%= image_tag "bookworm5.png", :class => "main_logo"%>
      <h3 class="hero-title">Join BookWorm to find (and save!) all the books you want to read</h3><br>

      <div class="large-6 large-centered columns">
        <a href="#" class="button radius" id="browsebutton">Browse Categories</a>
        <a href="#" class="button radius" id="learnmorebutton">How It Works</a>
      </div>
    </center>

  </div>
</div>


<!--learn more section-->

<div class="learn-more">
 <p class="learn-title"> Learn More About BookWorm </p>
 <div class="row">
  <div class="large-12 columns">
  </div>
</div>
</div>



<!--category section-->

<div class="category-section">
  <p class="category-title"> Just a Few of the Category Selections </p>
</div>

<!--phone section-->

<div class="phone-section">

 <div class="row">
  <div class="large-1 columns"></div>
  <div class="large-3 columns">
   <p class="phone-title"> Browse Books On The Go </p>
   <p class="phone-text"> Now Available In The App Store <p>
    <%= image_tag "appicon.png" %>
  </div>

  <div class="large-8 columns">
    <%= image_tag "appsection.png" %>
  </div>

</div>
</div>

<!--footer section-->
<div class="footer-section">
  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>
</div>

       


