<div class="nav-bar">
      <div class="row">
          <div class="large-6 columns">
          <div class="small_logo"><%= image_tag "navicon.png" %></div>
          </div>
          <div class="large-6 columns">
            <ul class="button-group">
              <li><a href="#" class="tiny button" id="nav-button"> Sign In </a></li>
              <li><a href="#" class="tiny button" id="nav-button"> Log In </a></li>
            </ul>
        </div>
      </div>
  </div>

<div class="hero">

  <div class="large-12 columns">

    <center>
      <%= image_tag "bookworm_new2.png", :class => "main_logo"%>
      <h3 class="hero-title">Join BookWorm to find (and save!) all the books you want to read</h3><br>

      <div class="large-6 large-centered columns">
        <a href="#" class="button radius" id="browsebutton">Browse Categories</a>
        <a href="#" class="button radius" id="learnmorebutton">Learn More</a>
      </div>
    </center>

  </div>



       


