<!--nav bar-->

<div class="nav-bar">
      <div class="row">
          <div class="large-6 columns">
          <div class="small_logo"><%= image_tag "navicon.png" %></div>
          </div>
          <div class="large-6 columns">
            <nav class="nav-buttons">
              <a href="#" class="tiny button" id="nav-button1"> Sign Up </a>
              <a href="#" class="tiny button" id="nav-button2"> Log In </a>
            </nav>
        </div>
      </div>
  </div>

<!--hero image-->

<div class="hero">

  <div class="large-12 columns">

    <center>
      <%= image_tag "logo3.png", :class => "main_logo"%>
      <h3 class="hero-title">Join BookWorm to find (and save!) all the books you want to read</h3><br>

      <div class="large-6 large-centered columns">
        <a href="#" class="button radius" id="browsebutton">Browse Categories</a>
        <a href="#" class="button radius" id="learnmorebutton">How It Works</a>
      </div>
    </center>

  </div>


<!--learn more section-->







       


