<!--nav bar-->

<div class="nav-bar">
      <div class="row">
          <div class="large-6 columns">
          <div class="small_logo"><%= image_tag "navicon.png" %></div>
          </div>
          <div class="large-6 columns">
        </div>
      </div>
  </div>

  