<!--nav bar-->

<div class="nav-bar">
    <div class="row">
       <div class="large-6 columns">
          <div class="small_logo"><a href="/"><%= image_tag "navicon.png" %></a></div>
          </div>
          <div class="large-6 columns">
          <div class="book-form">
        <% categories = @books['items'].map do |book| %>
            <% book['volumeInfo']['categories'] %>
         <% end.flatten.uniq %>
        <%= select_tag "category", options_for_select(categories) %>
         </div>
        </div>
     </div>
  </div>


<!--book section --> 

<div class="row">
  <div class="large-12 columns">

   <div class="cover-list">
    <% (@books['items']).each do |item| %>
      <% book = item['volumeInfo']['imageLinks']['thumbnail'] %>
      <%= image_tag book %>
    <% end %>

  </div>
 </div>
</div>


<!--footer section-->

<div class="footer-section">

  <div class="row">
    <div class="large-12 columns">
      <center>
        <p class="footer-title"> ⓒ BookWorm | <a href="https://www.github.com/jessicameyer/booker"> GitHub </p></a>
      </center>
    </div>
  </div>
</div>








