/* font-weight: 100, 300, 400, 500, 700, 900 */
$font-family: 'Roboto', sans-serif;
$white: #F2F2F2;
$black: #242322;
$lightteal: #59E2DD;
$darkteal: #48B7A9;
$darkbrown: #524940;
$lightgray: #A9B3AF;
$orange: #E6623B;
$lightbrown: #AE8774;