// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-form {
	margin-top: 10px;
}


.cover-list {
	margin-top: 100px;
}

.cover-list img {
	padding-right: 20px;
    padding-bottom: 20px;
}

.cover-list {
	text-align: center;
}


