// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colorsfont';


/* main hero image */ 

.hero { 
  height: 600px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/bookworm/master/app/assets/images/whitebookshelf3.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* nav bar */

.nav-bar {
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background-color: #59e2dd;

}

.small_logo {
  width: 60px;
  margin-top: 10px;
}

.nav-buttons {
	float: right;
}

#nav-button1 {
	margin-right: -30px;
	background-color: #59e2dd;
	border: 1px solid #48b7a9;
	color: #524940;
	margin-top: 15px;
  font-family: $font-family;
  font-weight: 700;
}

#nav-button2 {
    margin-left: 40px;
	  background-color: #59e2dd;
    border: 1px solid #48b7a9;
    color: #524940;
    margin-top: 15px;
    font-family: $font-family;
    font-weight: 700;
}

/* hero logo, wording and buttons */

.main_logo {
  // margin-top: 145px;
  margin-top: 200px;
}

.hero-title {
  text-align: center;
  color: #524940;
  font-family: $font-family;
  font-weight: 400;
  margin-top: 30px;
}

#browsebutton {
  background-color: $lightteal;
  font-family: $font-family;
  font-weight: 500;
  color: $darkbrown;
  border: 1px solid $darkteal;
}

#learnmorebutton {
  background-color: $darkbrown;
  color: $lightteal;
  font-family: $font-family;
  font-weight: 500;
}


/* category section */

.category-section {
  padding-bottom: 40px;
}


.category-title {
  font-family: $font-family;
  font-weight: 700;
  text-align: center;
  color: $darkbrown;
  padding-top: 20px;
  font-size: 24px;
}

/* learn section */

.learn-section {
  background-color: #f8f8f8;
  height: 300px;
}

.learn-title {
  font-family: $font-family;
  font-weight: 700;
  text-align: center;
  color: $darkbrown;
  padding-top: 20px;
  font-size: 24px;
}


/* app section */

.phone-section {
  padding-bottom: 40px;
  margin-top: 40px;
}

.appbadge {
  width: 100px;
}

.phone-title {
  margin-top: 100px;
  font-family: $font-family;
  font-weight: 700;
  color: $darkbrown;
  font-size: 32px;
}

.phone-text {
  font-family: $font-family;
  font-weight: 300;
  color: $darkbrown;
}


/* footer section */

.footer-section {
  height: 400px;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/bookworm/master/app/assets/images/footer.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



